<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="post">
            {% csrf_token %}
            <label for="un">Username</label>
            <input type="text" name="un">
            <label for="pw">Password</label>
            <input type="text" name="pw">
            <input type="submit" value="login">
        </form>
    </center>
</body>
</html>